<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<h1>New Submission is reported! by {{context.reporter}}</h1>
	<p><strong>Car VIN No: </strong>{{context.car_vin_number}}</p>
	<p><strong>Brand: </strong>{{context.car_brand}}</p>
	<p><strong>Build: </strong>{{context.car_model}}</p>
	<p><strong>Model: </strong>{{context.car_build}}</p>
	<p><strong>Engine Type: </strong>{{context.engine_type}}</p>
	<p><strong>Engine Power: </strong>{{context.engine_power}}</p>
	<p><strong>Year: </strong>{{context.year}}</p>
	<p><strong>Tuning Level: </strong>{{context.tuning_level}}</p>
	<p><strong>Reading Method: </strong>{{context.reading_method}}</p>
	<p><strong>ECU Type: </strong>{{context.ecu_type}}</p>
	<p><strong>Car Plate No: </strong>{{context.car_plate_num}}</p>
	<h2>The following files is uploaded</h2>
	<p>{{context.file1}}</p>
	<p>{{context.file2}}</p>
	<p>{{context.file3}}</p>
	<p>{{context.file4}}</p>
</body>
</html>